<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ccf8f3ce-56ea-408d-af95-db989c93cfdb" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c1a797b2-4cf2-4a7b-ac9b-dfdc8f9a4b90">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a8da27cc-d8ad-4a1b-a99b-db39befcdc66" SortOrder="0">newsPage</ContentType>
    <ContentType Key="cc21e755-c2a6-4405-b391-1c64a5d610bf" SortOrder="1">page</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>