<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a8da27cc-d8ad-4a1b-a99b-db39befcdc66" Alias="newsPage" Level="2">
  <Info>
    <Name>News Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="ccf8f3ce-56ea-408d-af95-db989c93cfdb">homepage</Parent>
    <Compositions>
      <Composition Key="ccf8f3ce-56ea-408d-af95-db989c93cfdb">homepage</Composition>
    </Compositions>
    <DefaultTemplate>NewsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e17ea4fe-30d4-4db5-9cf8-c7da14ba619c">NewsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>