<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc21e755-c2a6-4405-b391-1c64a5d610bf" Alias="page" Level="2">
  <Info>
    <Name>Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="ccf8f3ce-56ea-408d-af95-db989c93cfdb">homepage</Parent>
    <Compositions>
      <Composition Key="ccf8f3ce-56ea-408d-af95-db989c93cfdb">homepage</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a2d20f81-a0c5-475b-9acf-46233d3b7604">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>