<?xml version="1.0" encoding="utf-8"?>
<Content Key="6acf4280-f5d7-4528-b08f-1d919c8bbf74" Alias="About UsPage" Level="2">
  <Info>
    <Parent Key="902a2a10-1685-4045-b5fe-54f9887574a9">Homepage</Parent>
    <Path>/Homepage/AboutUsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-03-17T12:30:23</CreateDate>
    <NodeName Default="About UsPage" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2d20f81-a0c5-475b-9acf-46233d3b7604">Page</Template>
  </Info>
  <Properties />
</Content>