<?xml version="1.0" encoding="utf-8"?>
<Content Key="902a2a10-1685-4045-b5fe-54f9887574a9" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2026-03-17T12:29:41</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c1a797b2-4cf2-4a7b-ac9b-dfdc8f9a4b90">Homepage</Template>
  </Info>
  <Properties />
</Content>