<?xml version="1.0" encoding="utf-8"?>
<Content Key="980d77aa-4572-4fb6-ad8b-a4c0f7eb19bd" Alias="Other News Page" Level="2">
  <Info>
    <Parent Key="902a2a10-1685-4045-b5fe-54f9887574a9">Homepage</Parent>
    <Path>/Homepage/OtherNewsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-03-17T12:30:11</CreateDate>
    <NodeName Default="Other News Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e17ea4fe-30d4-4db5-9cf8-c7da14ba619c">NewsPage</Template>
  </Info>
  <Properties />
</Content>